// core variables and mixins
@import "core/reset";
@import "core/mixins";
@import "core/variables";
@import "core/layouts";
@import "core/components";
@import "core/libs";

// navigation, header, footer
@import "core/header";
@import "core/footer";

// pages
@import "page/home";
@import "page/homebytime";

// @import "pages/notfound";
