.header {
    .headertop {
        background-color: var(--blue-dask-cl);
        height: 72px;
        display: flex;
        align-items: center;

        &__right {
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 10px;

            &-item:not(:last-child) {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--grey-dask-cl);
                height: 32px;
                border-radius: 100px;
                padding: 0 12px;
                gap: 5px;
                .text {
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFF;

                }
            }
            &-item:last-child{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--grey-dask-cl);
                height: 32px;
                border-radius: 100px;
                gap: 5px;
                padding-left: 12px;
                i{
                    width: 32px;
                    height: 32px;
                    border-radius: 54px;
                    background-color: var(--green-cl);
                    align-items: center;
                    padding-top: 8px;
                    padding-left: 8px;
                    color: var(--green-cl);
                }
                .text {
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFF;
                }

            }
        }
    }
}