 .navbar {
     &-nav {
         gap: 40px;
         display: flex;
         align-items: center;
         justify-content: space-between;

         .nav-item {
             padding: 10px 0;
             margin-right: initial;
             a {
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                 font-family: Manrope;
                 font-size: 14px;
                 font-style: normal;
                 font-weight: 700;
                 line-height: 24px;
                 text-transform: uppercase;
                 text-decoration: none;
                 gap: 5px;
                 color: #575D68;
             }

             &.active,

             &:hover {
                background-color: initial;
                 a {
                     color: var(--green-cl);
                     background-color: initial;
                 }

                 &::after {
                    //  content: "";
                    //  width: calc(100% - 30px);
                    //  height: 2px;
                    //  background-color: var(--green-cl);
                    //  display: inline-block;
                    //  position: absolute;
                    //  bottom: -5px;
                    //  left: 50%;
                    //  transform: translateX(-50%);
                    //  transform-origin: left;
                    //  color: var(--green-cl);
                 }
             }


         }
     }
 }
 .dropdowngroup{
    .nav-item{
        margin-right: initial;
        background-color: #fff;
        &.active,

        &:hover {
           background: #fff;
            a {
                color: #575D68;
                background-color: initial;
            }
        }
    }

 }
 .dropdown{
    list-style-type: none;
    width: 200px;
    .nav-link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: initial;
    }
 }
